* {
    font-family: Arial, Helvetica, sans-serif;

}

html{
    height: 100vh;
    background-color: lightgray;
}

h1 {
    color: #29B1DD!important;
}


nav{
    background-color: #29B1DD;
    height: 50px;
    line-height: 50px;
    color: white;
}

.container-fluid {
    background-color: lightgray;
}


.my_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 15px;
    width: 250px;
    height: 100px;
    background-color: white;
}

